@model List<ProductShortViewModel>


@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/product-exercise-list.css">


<section class="model">

    <h1 class="heading"><span>Product list</span> </h1>

    <div class="box-container">

        @{
            foreach (ProductShortViewModel product in Model)
            {
                <div class="box">
                    <div class="icons">
                        <a asp-controller="ProductToList" asp-action="AddProductToList" asp-route-id="@product.productID" class="fas fa-plus"></a>
                        <a asp-controller="Product" asp-action="GetProduct" asp-route-id="@product.productID" class="fas fa-eye"></a>
                    </div>
                    <div class="image">
                        <img src="@product.productImg" alt="">
                    </div>
                    <div class="content">
                        <h3>@product.productName</h3>
                        <div class="stars">
                            <h5>Calories: @product.productCalories</h5>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</section>